@import "/src/variable.scss";

.similar {
    padding: $padding;
    display: flex;
    flex-direction: column;
    gap: $gap;

    .products {
        display: flex;
        gap: $gap;
        overflow-x: scroll;
        padding-bottom: $padding;

        ::-webkit-scrollbar-track {
            background: transparent;
        }
    }
}