@import "/src/variable.scss";

.productcard {
    border-radius: $border-radius;
    position: relative;
    background-color: $secondary-color;
    overflow: hidden;
    color: $accent-color-1;
    text-decoration: none;
    min-width: 300px;
    max-width: 300px;
    flex: 1;

    img {
        width: 100%;
    }

    .info {
        padding: $padding;
    }

    .like {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        right: $position-extra-small;
        top: $position-extra-small;
        padding: $padding-medium;
        background-color: $primary-color;
        color: $secondary-color;
    }
}