@import "/src/variable.scss";

.footer {
    border-top: $border-width-medium solid;
    padding: $padding;
    text-align: justify;
    font-size: $font-small;

    span {
        color: $accent-color-1;
    }

    .links {
        display: flex;
        flex-wrap: wrap;
        padding: $padding;
        gap: $gap;
        font-size: 15px;
        justify-content: center;
        align-items: center;

        a {
            color: $secondary-color;
            text-wrap: wrap;
            text-decoration: none;
        }
    }

    hr {
        border: $border-width-small solid $secondary-color;
    }
}