@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "/src/variable.scss";

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: $primary-color;
  color: $secondary-color;
  font-family: "Noto Sans", sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: $primary-color;
  border-radius: $border-radius;
}

::-webkit-scrollbar-thumb {
  background: $secondary-color ;
  border-radius: $border-radius;
}