$primary-color: #e7e5e5;
// $secondary-color: #5e4b3c;
$secondary-color: #064e7f;
$accent-color-2: #da688f;
// $accent-color-2: #1b365d;
$accent-color-1: #b9c0e2;
// $primary-color: #b3b3da;
// $secondary-color: #0f3bbe;
// $primary-color: #71c4f4;
// $secondary-color: #3f374d;
// $primary-color: #ccc6e8;
// $secondary-color: #d61347;
// $accent-color-1: #f9fafa;
// $accent-color-2: #444547;

$margin: 20px;

$padding: 20px;
$padding-medium: 10px;
$padding-small: 5px;

$gap: 20px;
$gap-small: 10px;

$position-extra-small: 10px;
$position-small: 20px;

$font-extra-small: 15px;
$font-small: 20px;
$font-medium: 25px;

$logo-width: 50px;
$logo-text-width: 150px;

$border-radius: 20px;
$border-radius-small: 10px;

$border-width-small: 1px;
$border-width-medium: 2px;